<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="D:\Documentos\Games Pardinho\GamesPardinho.Web\GamesPardinho.Web.API\bin\Debug\netcoreapp3.0\GamesPardinho.Web.API.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess" />
    </system.webServer>
  </location>
</configuration>