@{
    ViewData["Title"] = "Home Page";
    ViewData["landing"] = true;
}

<!-- Banner -->
<section id="banner">
    <h2>Eai seu feeder!</h2>
    <p>Pronto para aquele campeonato de respeito?</p>
    <ul class="actions">
        <li>
            @{
                if (Context.Session.Validate())
                {
                    <a asp-controller="Members" asp-action="Index" class="button big">Participar agora!</a>
                }
                else
                {
                    <a onclick="document.getElementById('loginForm').style.display='block'" class="button big">Participar agora!</a>
                }
            }
        </li>
    </ul>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
    <div class="container">
        <header class="major">
            <h2>Campeonatos</h2>
            <p>Tem para todos! Chegue com seus amigos em um time premade, ou jogue com quatro parças aleatórios.</p>
        </header>
        <div class="row 150%">
            <div class="4u 12u$(medium)">
                <section class="box">
                    <i class="icon big rounded color1 fa-random"></i>
                    <h3>RCL</h3>
                    <h5>Random Championship of League</h5>
                    <p>Um campeonato cujos times serão aleatórizados pelo nosso sistema, levando em conta seu elo na solo/duo e suas possíveis roles. É possivel ocorrer o autofill de posições!</p>
                </section>
            </div>
            <div class="4u 12u$(medium)">
                <section class="box">
                    <i class="icon big rounded color9 fa-users"></i>
                    <h3>TBT</h3>
                    <h5>Team Battle Tournament</h5>
                    <p>Traga um time completo! Iremos calcular a pontuação e mostrar os possíveis campeonatos disponíveis.</p><br>
                </section>
            </div>
            <div class="4u$ 12u$(medium)">
                <section class="box">
                    <i class="icon big rounded color6 fa-ellipsis-h"></i>
                    <h3>E muitos outros!</h3>
                    <h5>Muitos mesmo!</h5>
                    <p>Temos campeonatos de outros jogos também como CS:GO, Algum jogo ae, etc... Venha conhecer!</p><br>
                </section>
            </div>
        </div>

        <a asp-controller="Home" asp-action="Tournaments" class="button big">Saiba mais!</a>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2 special">
    <div class="container">
        <header class="major">
            <h2>Equipe</h2>
            <p>Nóis é lindo d+</p>
        </header>
        <section class="profiles">
            <div class="row">
                <section class="4u 6u(medium) 12u$(xsmall) profile">
                    <img src="~/images/profile_placeholder.gif" alt="" />
                    <h4>Jadson Cristian</h4>
                    <p>Fundador / Adora rinha de anão</p>
                </section>
                <section class="4u 6u$(medium) 12u$(xsmall) profile">
                    <img src="~/images/profile_placeholder.gif" alt="" />
                    <h4>Rodrigo G Silva</h4>
                    <p>Fundador</p>
                </section>
                <section class="4u$ 6u$(medium) 12u$(xsmall) profile">
                    <img src="~/images/profile_placeholder.gif" alt="" />
                    <h4>Gabriel P Almeida</h4>
                    <p>Programador</p>
                </section>
            </div>
        </section>
        <footer>
            <p>Vis accumsan feugiat adipiscing nisl amet adipiscing accumsan blandit accumsan sapien blandit ac amet faucibus aliquet placerat commodo. Interdum ante aliquet commodo accumsan vis phasellus adipiscing. Ornare a in lacinia. Vestibulum accumsan ac metus massa tempor. Accumsan in lacinia ornare massa amet. Ac interdum ac non praesent. Cubilia lacinia interdum massa faucibus blandit nullam. Accumsan phasellus nunc integer. Accumsan euismod nunc adipiscing lacinia erat ut sit. Arcu amet. Id massa aliquet arcu accumsan lorem amet accumsan.</p>
            <ul class="actions">
                <li>
                    <a asp-controller="Home" asp-action="Teams" class="button big">Saiba mais!</a>
                </li>
            </ul>
        </footer>
    </div>
</section>