<script>
    if ("@Model.IsSet" == "False") {
        window.location.href = "../";
    }
</script>

<div id="errorpage">
    <div class="errorpage">
        <div class="errorpage-bg">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <h1>oops!</h1>
        <h2>Error @Model.Code : @Model.Name</h2>
        <p>@Model.Description</p>
        <a class="button" asp-controller="Home" asp-action="Index">voltar</a>
        <div class="errorpage-social">
            <partial name="_Icons.cshtml" />
        </div>
    </div>
</div>

@{ Model.Clear(); }

