<ul class="icons">
    <li>
        <a class="icon rounded fa-twitch" href="https://www.twitch.tv/gamespardinho" target="_blank"><span class="label">Twitch</span></a>
    </li>
    <li>
        <a class="icon rounded fa-youtube"><span class="label">Youtube</span></a>
    </li>
    <li>
        <a class="icon rounded fa-github" href="https://github.com/gabrielpda15/Games-Pardinho" target="_blank"><span class="label">GitHub</span></a>
    </li>
</ul>
