<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Games Pardinho</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <environment include="Development">
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/skel.min.js"></script>
        <script src="~/js/skel-layers.min.js"></script>
        <script src="~/js/init.js"></script>

        <link rel="stylesheet" href="~/css/skel.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="~/css/style-xlarge.css" />
        <link rel="stylesheet" href="~/css/login.css" />
    </environment>
</head>
<body class="@(((bool)ViewData["landing"]) == true ? "landing" : "")">
    <!-- Header -->
    <header id="header">
        <h1><a asp-controller="Home" asp-action="Index">Games Pardinho</a></h1>
        <nav id="nav">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a href="~/#one">Campeonatos</a></li>
                <li><a href="~/#two">Equipe</a></li>
                @{
                    if (!Context.Session.Validate())
                    {
                        <li><a onclick="document.getElementById('loginForm').style.display='block'" class="button special">Login</a></li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a asp-controller="Members" asp-action="Index">Membros</a>
                            <div class="dropdown-content">
                                <a asp-controller="Members" asp-action="Index">Perfil</a>
                                <a asp-controller="Members" asp-action="Index">Campeonatos</a>
                            </div>
                        </li>

                        <li>
                            <form method="post" asp-controller="Home" asp-action="Logout">
                                <input class="button special" type="submit" value="Logout" />
                            </form>
                        </li>
                        <!--a  class="button special">Logout</a-->
                    }
                }
            </ul>
        </nav>
    </header>

    <partial name="_Login.cshtml" />

    @RenderBody()

    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="8u 12u$(medium)">
                    <ul class="copyright">
                        <li>&copy; Games Pardinho. Todos os direitos reservados.</li>
                        <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
                    </ul>
                </div>
                <div class="4u$ 12u$(medium)">
                    <ul class="icons">
                        <li>
                            <a class="icon rounded fa-twitch" href="https://www.twitch.tv/gamespardinho" target="_blank"><span class="label">Twitch</span></a>
                        </li>
                        <li>
                            <a class="icon rounded fa-youtube"><span class="label">Youtube</span></a>
                        </li>
                        <li>
                            <a class="icon rounded fa-github" href="https://github.com/gabrielpda15/Games-Pardinho" target="_blank"><span class="label">GitHub</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
