@{
    var fail = Context.Session.TryGetString("login-fail", out string value);
}

<div id="loginForm" class="modal">
    <section>
        <form class="modal-content animate" asp-controller="Home" asp-action="Login" method="post">
            <div class="imgcontainer">
                <span onclick="document.getElementById('loginForm').style.display='none'" class="close" title="Fechar">&times;</span>
                <img src="~/images/profile_placeholder.gif" alt="Avatar" class="avatar">
            </div>

            <div class="formcontainer">

                <div class="12u$">
                    <label class="overridelabel" for="username"><b>Usuário</b></label>
                    <input type="text" placeholder="Digite seu usuário" name="username" maxlength="30" required>

                    <label class="overridelabel" for="password"><b>Senha</b></label>
                    <input type="password" placeholder="Digite sua senha" name="password" maxlength="60" required>

                    <br>
                    <font color="red"><p>@value</p></font>

                        <!--<input type="checkbox" id="remember" name="remember" checked>
    <label class="overridelabel" for="remember">Lembrar usuário?</label>-->

                        <div class="btnlogin-container">
                            <input type="submit" value="Login" class="special btnlogin" />
                        </div>
</div>
            </div>

            <div class="12u$ bottonactions-container" style="background-color:#f1f1f1">
                <div>
                    <a onclick="document.getElementById('regForm').style.display='block';
											document.getElementById('loginForm').style.display='none'" class="button alt btnbottom">Cadastrar</a>
                    <a onclick="document.getElementById('forgotForm').style.display='block';
											document.getElementById('loginForm').style.display='none'" class="button alt btnbottom">Esqueci minha senha?</a>
                </div>
            </div>
        </form>
    </section>
</div>

@{
    if (fail)
    {
        <script>
            document.getElementById('loginForm').style.display = 'block';
        </script>
    }
}