body.error {
  padding: 0;
  margin: 0;
}

body.error #errorpage {
  position: relative;
  height: 100vh;
  background-color: #f7f9fb/*#fafbfd;*/
}

body.error #errorpage .errorpage {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body.error .errorpage {
  max-width: 520px;
  width: 100%;
  text-align: center;
}

body.error .errorpage .errorpage-bg {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

body.error .errorpage .errorpage-bg > div {
  width: 100%;
  background: #fff;
  border-radius: 90px;
  height: 125px;
}

body.error .errorpage .errorpage-bg > div:nth-child(1) {
  -webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
          box-shadow: 5px 5px 0px 0px #f3f3f3;
}

body.error .errorpage .errorpage-bg > div:nth-child(2) {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
          box-shadow: 5px 5px 0px 0px #f3f3f3;
  position: relative;
  z-index: 10;
}

body.error .errorpage .errorpage-bg > div:nth-child(3) {
  -webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
          box-shadow: 5px 5px 0px 0px #f3f3f3;
  position: relative;
  z-index: 90;
}

body.error .errorpage a {
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
}

body.error .errorpage h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 86px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
  color: #151515;
}

body.error .errorpage h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 26px;
  margin: 0;
  font-weight: 700;
  color: #151515;
}

body.error .errorpage-social {
  margin-top: 20px;
}

@media only screen and (max-width: 767px) {
    body.error .errorpage .errorpage-bg {
      width: 287px;
      margin: auto;
    }

    body.error .errorpage .errorpage-bg > div {
      height: 85px;
  }
}

@media only screen and (max-width: 480px) {
  body.error .errorpage h1 {
    font-size: 68px;
  }

  body.error .errorpage h2 {
    font-size: 18px;
  }
}